.header {
    background-color: #48c9b0;
    /* #242f42; */
}

.login-wrap {
    background: #324157;
    /* #324157; */
}

.plugins-tips {
    background: #eef1f6;
}

.plugins-tips a {
    color: #fffb20;
}

.tags-li.active {
    border: 1px solid #409EFF;
    background-color: #409EFF;
    /* border: 1px solid #409EFF;
    background-color: #409EFF; */
}

.message-title {
    color: #20a0ff;
}

.collapse-btn:hover {
    background: rgb(231, 215, 35);
    /* rgb(40, 52, 70); */
}